# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\A-JavaEngineer\A01-JavaSE\L-JavaSE数据结构\B非线性结构(集合)\A-NonlinearBasedJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
