# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\A-JavaEngineer\A01-JavaSE\L-JavaSE数据结构\E排序\A-SortBasedJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
